<!-- cards -->
<section class="panel-cards container-fluid">
	<div class="container">

		<!-- card - standard - vertical - no class added -->

		<div class="container-fluid">
			<div class="container container-50">
				<div class="grid-wrapper-min-max">
					<div class="grid-item card">
						<div class="image-wrapper">
							<div class="image-wrapper-overlay">
								<div class="image-wrapper-overlay-content">
									<span class="headline">The headline is six words or less</span>
									<span class="readout">The overlay body is twenty words or less dolor sit amet, consectetur adipiscing elit, labore et dolore magna aliqua.</span>
									<a class="cta" href="#####">CTA here</a>
								</div>
							</div>
							<a href="###" target="_blank" title="Title goes here">
								<img src="images/images-position-only/fpo-image-gray-1000x1000.jpg" alt="Alternate description goes here"
									title="Title goes here">
							</a>
						</div>
						<div class="content-grid-wrapper">
							<div class="card-content">
								<span class="category">0/0/0000: 0:00PM-0:00PM</span>
								<span class="headline">The headline is lorem ipsum</span>
								<span class="title">Name, title, explainer here</span>
								<span class="readout">Body texy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</span>
								<a class="cta" href="#####">CTA here</a>
							</div>
							<div class="card-content card-link-content">
								<span class="subhead">Also see:</span>
								<a class="cta" href="#####">Link to related resource</a>
								<a class="cta" href="#####">Link to related resource</a>
								<a class="cta" href="#####">Link to related resource</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="padding-lg"></div>

		<!-- card - standard - vertical - card class added -->

		<!-- card - standard - vertical - portrait class added -->

		<!-- card - standard - vertical - luc-avatar class added to image-wrapper -  -->

		<!-- card - vertical - image circle - card class added - image-wrapper-circle class added to image-wrapper -->

		<!-- card - standard - vertical - card-horizontal class added -->

		<!-- card - image overlay - card-image-overlay ID added -->

		<!-- card - staff profile - facultyList ID added -->

	</div><!-- container -->
</section><!-- ID - panel cards - container-fluid -->