<section class="cta-panel">
  <div class="panel-burst" aria-hidden="true">
    <object class="panel-burst__svg" data="images/burst.svg" type="image/svg+xml" width="100%" height="100%">
    </object>
  </div>
  <div class="cta-panel__container">
    <div class="cta-panel__content" data-animate data-animation="fade-in-up">
      <h2 class="cta-panel__headline cta-panel__headline--desktop">Pursue Truth. Ignite Change.<br>Start Your Path Here.</h2>
      <p class="cta-panel__body">We invite you to learn in a dynamic urban setting, engage in meaningful research, and live by a Jesuit mission that challenges you to think deeply about how your work serves others—all at Loyola University Chicago.</p>
      <nav class="cta-panel__nav" aria-label="Primary actions">
        <div class="buttons">
          <a class="button button--dark" href="https://www.luc.edu/requestinformation/">Request Info</a>
          <a class="button button--dark" href="https://www.luc.edu/undergrad/connect/visit/">Visit</a>
          <a class="button button--dark" href="https://www.luc.edu/admission.shtml">Apply</a>
        </div>
      </nav>
    </div>
    <div class="cta-panel__image-wrapper" data-animate data-animation="fade-in-up">
      <img class="cta-panel__image" src="images/images-2026/cta-panel.jpg" alt="Grand interior of a historic building with ornate architecture and natural light">
    </div>
  </div>
</section>
