<section class="events-listing">
  <div class="events-listing__header" data-animate data-animation="fade-in-up">
    <h2>Discover What's Happening at Loyola</h2>
    <a class="button" href="https://lucweb.luc.edu/newsevents/public/calendar.cfm?view=mw&siteid=0">Browse All Events</a>
  </div>

  <div class="events-listing__grid">
    <article class="events-listing__card clipped" data-animate data-animation="fade-in-up">
      <a href="###" class="events-listing__link">
        <span class="events-listing__date">Jan 13</span>
        <h3 class="events-listing__title">Men's Basketball vs. George Mason</h3>
        <span class="events-listing__time">6:00 PM–8:00 PM</span>
        <span class="events-listing__location">Gentile Arena</span>
      </a>
    </article>

    <article class="events-listing__card clipped" data-animate data-animation="fade-in-up">
      <a href="###" class="events-listing__link">
        <span class="events-listing__date">Jan 18 - Feb 22</span>
        <h3 class="events-listing__title">Organ Concert: Ralph Holtzhauser</h3>
        <span class="events-listing__time">3:00 PM</span>
        <span class="events-listing__location">Madonna Della Strada Chapel</span>
      </a>
    </article>

    <article class="events-listing__card clipped" data-animate data-animation="fade-in-up">
      <a href="###" class="events-listing__link">
        <span class="events-listing__date">Apr 24</span>
        <h3 class="events-listing__title">Spring 2026 Semester Ends</h3>
        <span class="events-listing__time">ALL DAY</span>
      </a>
    </article>
  </div>
</section>