<section class="panel-image-caption" class="container-fluid ">
  <div class="container container-100 bg-maroon">
    <div class="grid-wrapper-min-max">
      <div class="grid-item margin-none image-resize-background-image hero-wrap">
        <img src="images/images-hero-images/stritch-students-walking-campus-1800X450.jpg" alt="Five medical students, dressed in white lab coats, laugh together as they walk under a canopy of trees and a clear sky." title="Five medical students, dressed in white lab coats, laugh together as they walk under a canopy of trees and a clear sky.">
      </div>
    </div>
    <div class="padding-md bg-maroon"></div>
    <div class="container container-80">
      <section id="panel-pagination bg-maroon"><!-- breadcrumbs -->
          <div id="content-pagination-breadcrumbs">
            <div class="grid-wrapper-min-max">
              <div class="grid-item">
                <nav role="navigation" aria-label="Pagination Breadcrumbs">
                  <a href="/stritch/">Stritch School of Medicine</a>&nbsp;<a>/</a>&nbsp;<a href="/stritch/admissions/">Admissions &amp; Aid</a>
                </nav>
              </div>
            </div>
          </div>
      </section>
    </div> 
  </div>
  <div class="padding-xsm bg-maroon"></div>
  <section id="panel-intro" class="container-fluid bg-maroon">
      <div class="container container-80">
        <div class="content-intro m-b-0">
          <div class="intro-paragraph">
            <h1>Admissions &amp; Aid</h1>
            <p>Education at Stritch School of Medicine is more than clinical training. It's a formation that develops the whole physician: technically rigorous, ethically grounded, and prepared to lead in a complex, changing healthcare landscape. Here, you don't just learn to diagnose and treat. You learn to think, to lead, and to practice with the kind of purpose that defines a career.</p>
          </div>
        </div>
      </div>
  </section>
  <div class="padding-md bg-maroon"></div>
  <div class="padding-xsm bg-gold"></div> 
</section>