/* typographic hierarchy */

/* Carnegie's typographic hierarchy */

<div typography class="carnegie">
    <h1 >A wizard’s job is to vex chumps quickly in fog</h1>
    <h2>A wizard’s job is to vex chumps quickly in fog<h2>
    <h3>A wizard’s job is to vex chumps quickly in fog</h3>
    <h4>A wizard’s job is to vex chumps quickly in fog<h4>
    <h5>A wizard’s job is to vex chumps quickly in fog</h5>
    <h6>A wizard’s job is to vex chumps quickly in fog</h4>
    <p class="">A wizard’s job is to vex chumps quickly in fog</p>
    <p>A wizard’s job is to vex chumps quickly in fog</p>
</div>

<div typography class="major-third">
    <h1 >A wizard’s job is to vex chumps quickly in fog</h1>
    <h2>A wizard’s job is to vex chumps quickly in fog<h2>
    <h3>A wizard’s job is to vex chumps quickly in fog</h3>
    <h4>A wizard’s job is to vex chumps quickly in fog<h4>
    <h5>A wizard’s job is to vex chumps quickly in fog</h5>
    <h6>A wizard’s job is to vex chumps quickly in fog</h4>
    <p class="">A wizard’s job is to vex chumps quickly in fog</p>
    <p>A wizard’s job is to vex chumps quickly in fog</p>
</div>

<style>
/* Carnegie Typographic Hierarchy */
    .carnegie h1 {
        font-size: $luc-nav-font-size-3xl;
    }
    .carnegie h2 {
        font-size: $luc-nav-font-size-2xl;
    }
    .carnegie h3 {
        font-size: $luc-nav-font-size-1xl;
    }
    .carnegie h4 {
        font-size: $luc-nav-font-size-l;
    }
    .carnegie h5 {
        font-size: $luc-nav-font-size;
    }
    .carnegie h6 {
        font-size: $luc-nav-font-size-sm;
    }
    .carnegie p.large {
        font-size: $luc-nav-font-size-xsm;
    }
/* Major-third Typogrpaphic Hierarchy */
    .major-third h1 {
        font-size: $luc-nav-font-size-major-third-3xl;
    }
    .major-third h2 {
        font-size: $luc-nav-font-size-major-third-2xl;
    }
    .major-third h3 {
        font-size: $luc-nav-font-size-major-third-1xl;
    }
    .major-third h4 {
        font-size: $luc-nav-font-size-xl;
    }
    .major-third h5 {
        font-size: $luc-nav-font-size-major-third-l;
    }
    .major-third h6 {
        font-size: $luc-nav-font-size-major-third;
    }
    .major-third p.large {
        font-size: $luc-nav-font-size-xs;
    }
    .major-third p {
        font-size: font-size: $luc-nav-font-size-major-third;
    }
    .major-third p.large {
        font-size: $luc-nav-font-size-s;
    }
</style>

