<section class="routing-panel">
	<div class="routing-panel__container">
		<div class="routing-panel__content clipped">
			<h2>Academics That Ignite Action</h2>
			<p>Our nationally recognized programs are built to impact the world. From the first day of class, learning is active and deeply connected to life beyond campus. With more than 100 majors and 100 minors, plus a wide range of graduate and online offerings, Loyola distinguishes itself through an education that prepares you for success.</p>
			<ul class="router-links">
				<li><a class="router-link" href="###">Undergraduate Programs</a></li>
				<li><a class="router-link" href="###">Graduate Programs</a></li>
				<li><a class="router-link" href="###">Online Programs</a></li>
			</ul>
		</div>
		<div class="routing-panel__image-container">
			<img class="routing-panel__image" src="images/images-2026/routing-panel.jpg" alt="placeholder">
		</div>
	</div>
</section>






<!-- <section class="container-fluid hero-image-lead">
	<div class="container container-100">
		<img id="random-image" src="" alt=""/>
		<div class="grid-wrapper-min-max">
			<div class="grid-item">
				<div class="hero-image-content">
					<h1>Academics That Ignite Action</h1>
					<div class="intro-paragraph sans-serif">
						<p>Our nationally recognized programs are built to bring impactful ideas into the world. From the first day of class, learning is active and deeply connected to life beyond campus. With more than 100 majors and 100 minors, plus a wide range of graduate and online offerings, Loyola distinguishes itself among colleges in Chicago and the nation for education that prepares you for success.</p>
					</div>
					<ul>
						<li><a class="cta" href="###">Undergraduate Programs</a></li>
						<li><a class="cta" href="###">Graduate Programs</a></li>
						<li><a class="cta" href="###">Online Programs</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section> -->