<section class="routing-panel">
	<div class="routing-panel__container">
		<div class="routing-panel__content clipped" data-animate data-animation="fade-in-up">
			<h2>Academics That Ignite Action</h2>
			<p>Our nationally recognized programs are built to impact the world. From the first day of class, learning is active and deeply connected to life beyond campus. With more than 100 majors and 100 minors, plus a wide range of graduate and online offerings, Loyola distinguishes itself through an education that prepares you for success.</p>
			<ul class="router-links">
				<li><a class="router-link" href="https://www.luc.edu/undergrad/academics/majorsandminors/#majors">Undergraduate Programs</a></li>
				<li><a class="router-link" href="https://www.luc.edu/gradschool/academics/degreeprograms/">Graduate Programs</a></li>
				<li><a class="router-link" href="https://www.luc.edu/scps/studentexperience/onlinelearning/">Online Programs</a></li>
			</ul>
		</div>
		<div class="routing-panel__image-container">
			<img class="routing-panel__image" src="images/images-2026/routing-panel.jpg" alt="placeholder">
		</div>
	</div>
</section>