<!-- Carnegie's typographic hierarchy -->

<div typography class="carnegie">
    <p>CARNEGIE</p>
    <p class="small"><small>H1 - 58px</small></p>
    <h1 >H1 - A wizard’s job is to vex chumps quickly in fog</h1>
    <div class="padding-xsm"></div>
    <p class="small"><small>H2 - 40px</small></p>
    <h2>H2 - A wizard’s job is to vex chumps quickly in fog<h2>
    <div class="padding-xsm"></div>
    <p class="small"><small>H3 - 30px</small></p>
    <h3>H3 - A wizard’s job is to vex chumps quickly in fog</h3>
    <div class="padding-xsm"></div>
    <p class="small"><small>H4 - 24px</small></p>
    <h4>H4 - A wizard’s job is to vex chumps quickly in fog<h4>
    <div class="padding-xsm"></div>
    <p class="small"><small>H5 - 20px</small></p>
    <h5>H5 - A wizard’s job is to vex chumps quickly in fog</h5>
    <div class="padding-xsm"></div>
    <p class="small"><small>H6 - 16px</small></p>
    <h6>H6 - A wizard’s job is to vex chumps quickly in fog</h6>
    <div class="padding-xsm"></div>
    <p class="small"><small>Paragraph Large - 20px</small></p>
    <p class="paragraph-large">Paragraph Large - A wizard’s job is to vex chumps quickly in fog</p>
    <div class="padding-xsm"></div>
    <p class="small"><small>Paragraph Standard - 16px</small></p>
    <p>Paragraph Standard - A wizard’s job is to vex chumps quickly in fog</p>
    <div class="padding-xsm"></div>
    <p class="paragraph-small"><small>Paragraph Small -14px</small></p>
    <p class="small">Paragraph Small - A wizard’s job is to vex chumps quickly in fog</p>
    <div class="padding-xsm"></div>
    <p class="small"><small>Footnote - 14px</small></p>
    <footnote>Footnote - A wizard’s job is to vex chumps quickly in fog</footnote>
    <blockquote>
        “A wizard’s job is to vex chumps quickly in fog. A wizard’s job is to vex chumps quickly in fog.” <cite>Someone Namehere</cite>
    </blockquote>
</div>
<div class="padding-md"></div>
<div typography class="major-third">
    <p>MAJOR THIRD - UMC</p>
    <p class="small"><small>H1 - 61px</small></p>
    <h1>H1 - A wizard’s job is to vex chumps quickly in fog</h1>
    <div class="padding-xsm"></div>
    <p class="small"><small>H2 - 48px</small></p>
    <h2>H2 - A wizard’s job is to vex chumps quickly in fog<h2>
    <div class="padding-xsm"></div>
    <p class="small"><small>H3 - 39px</small></p>
    <h3>H3 - A wizard’s job is to vex chumps quickly in fog</h3>
    <div class="padding-xsm"></div>
    <p class="small"><small>H4 - 31px</small></p>
    <h4>H4 - A wizard’s job is to vex chumps quickly in fog<h4>
    <div class="padding-xsm"></div>
    <p class="small"><small>H5 - 25px</small></p>
    <h5>H5 - A wizard’s job is to vex chumps quickly in fog</h5>
    <div class="padding-xsm"></div>
    <p class="small"><small>H6 - 20px</small></p>
    <h6>H6 - A wizard’s job is to vex chumps quickly in fog</h6>
    <div class="padding-xsm"></div>
    <p class="small"><small>Paragraph Intro - 20px</small></p>
    <p class="paragraph-large">Paragraph Large - A wizard’s job is to vex chumps quickly in fog</p>
    <div class="padding-xsm"></div>
    <p class="small"><small>Paragraph Standard - 15px</small></p>
    <p>Paragraph Standard - A wizard’s job is to vex chumps quickly in fog</p>
    <div class="padding-xsm"></div>
    <p class="paragraph-small"><small>Paragraph Small - 13px</small></p>
    <p class="small">Paragraph Small - A wizard’s job is to vex chumps quickly in fog</p>
    <div class="padding-xsm"></div>
    <p class="small"><small>Footnote - 13px</small></p>
    <footnote>Footnote - A wizard’s job is to vex chumps quickly in fog</footnote>
    <blockquote>
        “A wizard’s job is to vex chumps quickly in fog. A wizard’s job is to vex chumps quickly in fog.” <cite>Someone Namehere</cite>
    </blockquote>
</div>