<!-- Carnegie's typographic hierarchy -->

<div typography class="carnegie">
    <p>CARNEGIE</p>
    <h1 >H1 - A wizard’s job is to vex chumps quickly in fog</h1>
    <h2>H2 - A wizard’s job is to vex chumps quickly in fog<h2>
    <h3>H3 - A wizard’s job is to vex chumps quickly in fog</h3>
    <h4>H4 - A wizard’s job is to vex chumps quickly in fog<h4>
    <h5>H5 - A wizard’s job is to vex chumps quickly in fog</h5>
    <h6>H6 - A wizard’s job is to vex chumps quickly in fog</h6>
    <p class="large">Paragraph Large - A wizard’s job is to vex chumps quickly in fog</p>
    <p>Paragraph Standard - A wizard’s job is to vex chumps quickly in fog</p>
    <p class="small">Paragraph Small - A wizard’s job is to vex chumps quickly in fog</p>
</div>
<div class="padding-md"></div>
<div typography class="major-third">
    <p>MAJOR THIRD - UMC</p>
    <h1>H1 - A wizard’s job is to vex chumps quickly in fog</h1>
    <h2>H2 - A wizard’s job is to vex chumps quickly in fog<h2>
    <h3>H3 - A wizard’s job is to vex chumps quickly in fog</h3>
    <h4>H4 - A wizard’s job is to vex chumps quickly in fog<h4>
    <h5>H5 - A wizard’s job is to vex chumps quickly in fog</h5>
    <h6>H6 - A wizard’s job is to vex chumps quickly in fog</h6>
    <p class="large">Paragraph Large - A wizard’s job is to vex chumps quickly in fog</p>
    <p>Paragraph Standard - A wizard’s job is to vex chumps quickly in fog</p>
    <p class="small">Paragraph Small - A wizard’s job is to vex chumps quickly in fog</p>
</div>