/* accent bar */

.accent-bar {
  position: absolute;
  top: -.75rem;
  margin: 0;
  padding: 0;
  width: 100%;
  height: .75rem;
  background: $maroon;
}

.accent-bar .content-grid-wrapper {
  border-top: solid .35rem $maroon;
}

/* cards */

#panel-cards .grid-wrapper-min-max {
  grid-gap: 1rem;
  .grid-item {
    margin: 0;
  }
}

#panel-cards #facultyList.grid-wrapper-min-max .grid-item.filterRow,
#panel-cards #facultyList.grid-wrapper-min-max .grid-item.category {
  display: flex;
}

#panel-numbers .grid-wrapper-min-max .grid-item,
.luc-panel-numbers .grid-wrapper-min-max .grid-item {
  margin: 0;
}

#main-section-wrapper #panel-numbers,
#main-section-wrapper .luc-panel-numbers {
  .container.container-100 .grid-wrapper-min-max {
    width: 100% !important;
  }
  .container.container-80 .grid-wrapper-min-max {
    width: 80% !important;
  }
  .container.container-50 .grid-wrapper-min-max {
    width: 50% !important;
  }
}

/* card-image-overlay bg-maroon added */

#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links { background: $maroon !important; }
#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links h6,
#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links h5,
#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links p,
#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links p a {
  color: $gray-extra-light !important;
}

#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links p a {
  &:hover {
    color: $gold !important;
  }
}

#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links button {
  background: $gold !important;
  color: black;
  &:hover {
    background: $opus !important;
  }
}

a {
  transition: color .3s ease-in-out;
}