/*
  CSS RESET
  Based on modern CSS reset principles
*/

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

#root {
  container: root / inline-size;
}

body {
  margin: 0;
  text-size-adjust: none;
  overflow-wrap: break-word;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block: 0;
}

iframe,
img,
svg,
video {
  display: block;
  max-width: 100%;
}

iframe {
  border: 0;
}

img,
svg {
  height: auto;
}

svg {
  fill: currentColor;
}

video:not(.hero__video),
[src*="player.vimeo.com"],
[src*="wistia.net/embed"],
[src*="youtube.com/embed"] {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

table {
  border-collapse: collapse;
}

blockquote,
fieldset,
figure,
legend {
  margin: 0;
  padding: 0;
  border: 0;
}

button,
input,
select,
textarea {
  max-width: 100%;
  border-radius: 0;
  color: inherit;
  font: inherit;
  text-overflow: ellipsis;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

[type="search"] {
  appearance: none;
}

/* Clear search input X button in browsers */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

::placeholder {
  color: inherit;
  opacity: 0.7;
}

:focus {
  outline: 0.25rem dashed;
  outline-offset: 0.25rem;
  outline-color: var(--outline-color, currentColor);

  &:not(:focus-visible) {
    outline: 0;
  }
}