// =============================================================================
// AUTOMODAL

// Local variables for automodal
$automodal-transition: 0.3s ease;
$automodal-space: 2rem;
$automodal-wrap: $luc-wrap;

:root:has(.Automodal) {
  overflow: hidden;
}

.Automodal {
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  margin: 0;
  padding: 0;
  border: 0;
  transition: opacity $automodal-transition;
  background: none;
  opacity: 0;
  overflow: hidden;
  outline: none;

  &:focus {
    outline: none;
  }

  &::backdrop {
    transition: opacity $automodal-transition;
    background: $luc-maroon;
    opacity: 0;
  }
}

.Automodal--active {
  opacity: 1;

  &::backdrop {
    opacity: 0.95;
  }
}

.Automodal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  border: 0.125rem solid;
  border-radius: 50%;
  background: none;
  color: $luc-white;
  z-index: 2;
  transition: $automodal-transition;
  outline-color: $luc-white;

  @container (width <= 64em) {
    &:focus,
    &:active {
      outline: none !important;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &::before {
    display: grid;
    place-items: center;
    width: 2rem;
    height: 2rem;

      content: '\f00d';
      font-family: 'Font Awesome 6 Pro';
      font-size: 1rem;
      font-weight: 600;
      color: $luc-gold;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.Automodal__viewport {
  display: grid;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.Automodal__item {
  display: grid;
  grid-area: 1 / 1;
  place-items: center;
  padding: $automodal-space $automodal-wrap;
  overflow: auto;
}

.Automodal__item--youtube {
  overflow: hidden;
}

.Automodal__content {
  width: 100%;
  pointer-events: auto;

  .Automodal__item--youtube & {
    iframe {
      width: auto;
      max-height: 90vh;
      margin-inline: auto;
    }
  }
}