.swiper-content .swiper-wrapper {
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.swiper-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0.5rem 0;
}

.swiper-button-prev,
.swiper-button-next {
  position: static;
  width: 3rem;
  height: 3rem;
  margin-top: 0;
  background: $maroon;
  border: 1px solid $maroon;
  border-radius: 4px;
  color: $white;
  margin-block: 0.25rem;
  transition: all 0.3s ease;

  &::after {
    content: "";
    display: block;
    width: 1.125rem;
    height: 0.5rem;
    background-color: $gold !important;
    mask-image: url('../images/icon-arrow-right.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  &:hover {
    background-color: transparent !important;
    border-color: $maroon;
    color: $maroon;
    &::after {
      background-color: $maroon !important;
    }
  }

  &.swiper-button-disabled {
    opacity: 0.35;
    cursor: default;
  }
}

.swiper-button-prev {
  &::after {
    transform: rotate(180deg);
  }
}

.swiper-pagination {
  position: static;
  width: auto;
  font-size: 0.875rem;
  font-weight: 400;
  color: $black;
}

.bg-maroon {

  .swiper-button-prev,
  .swiper-button-next {
    background: $gold;
    border-color: $gold;
    color: $maroon;

    &::after {
      background-color: $maroon !important;
    }

    &:hover {
      background-color: transparent;
      &::after {
        background-color: $gold !important;
      }
    }

    outline-color: $gold !important;
  }

  .swiper-pagination {
    color: $white;
  }
}