#isChatWelcomeBubble {
  background: $luc-white !important;
  color: $luc-maroon !important;
}
#isChatWelcomeText {
  font-family: $luc-font-family-condensed-bold !important;
  font-size: $luc-baseline * 4 !important;
  font-weight: 700 !important;
}