#isChatWelcomeBubble {
  background: $luc-copper-light !important;
  color: $luc-maroon !important;
}
#isChatWelcomeText {
  font-family: $luc-font-family-condensed-bold !important;
}

@media screen and (max-width: 767px) {
  body .oda-chat-wrapper .oda-chat-button {
        width: 50px !important;
        height: 50px !important;
    }
}

.oda-chat-wrapper.oda-chat-loyola-light,
.isCV_PublicChat {
  bottom: 1rem !important;
  right: 1rem !important;
}