.cta-panel {
	width: 100%;
	color: $luc-white;

	&__container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		background: radial-gradient(583.78% 135.37% at 91.25% 0%, #890B34 0%, $luc-maroon 27.38%, #2B0310 99.04%);

		// Mobile: image first, content second (swap via order)
		.cta-panel__content {
			order: 2;
		}
		.cta-panel__image-wrapper {
			order: 1;
		}

		@media (min-width: 48rem) {
			grid-template-columns: 1.5fr 1fr;
			grid-template-rows: 1fr;
			background: transparent;
			// min-height: 60vh;

			.cta-panel__content,
			.cta-panel__image-wrapper {
				order: unset;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: $luc-baseline * 6;
		padding-block: $luc-space;
		padding-inline: $luc-wrap;
		// background-color: $luc-maroon;

		h2 {
			color: $luc-white;
		}

		.buttons {
			flex-direction: column;
		}

		.button {
			outline-color: $luc-white;
			width: 100%;
		}

		// Desktop: diagonal clips to the right, content overlaps image
		@media (min-width: 48rem) {
			margin-right: -20%;
			// background: radial-gradient(
			// 	ellipse at 47.1% -0.6%,
			// 	#890B34 0%,
			// 	#5A0722 45.19%,
			// 	#340112 99.04%
			// );
			// clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
			// clip-path: polygon(0 0, 80% -20%, 100% 100%, 0 100%);
			justify-content: center;
			padding-block: 7.5rem;
			padding-inline: 0 $luc-baseline * 24;
			z-index: 1;

			.buttons {
				flex-direction: row;
			}

			.button {
				width: auto;
			}
		}
	}

	&__headline,
	&__body {
		@media (min-width: 48rem) {
			padding-right: 10%;
		}
	}

	&__image-wrapper {
		position: relative;
		// overflow: hidden;
		aspect-ratio: 16 / 9;

		@media (min-width: 48rem) {
			aspect-ratio: auto;
		}
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		display: block;
		clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);

		@media (min-width: 48rem) {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			clip-path: polygon(100% 0%, 100% 100%, 20% 100%, 0% 0%);
		}
	}

	@media (min-width: 48rem) {
		padding: 0 0 0 $luc-wrap;
		background: radial-gradient(
  ellipse at 47.1% -0.6%,
  #890B34 0%,
  #5A0722 45.19%,
  #340112 99.04%
);
	}
}
