
:root {
    --white: #fff;
    --white-20: RGBA(255, 255, 255, 0.2);
    --black: #000;
    --black-20: RGBA(0,0,0,0.2);
    --red: #5A0722;
    --yellow: #FEBC18;
    /* layout */
    --gutter: 2rem;
    --space: 6rem;
    --space-sm: calc(var(--space) / 2);
    --container: max(var(--gutter), (100% - 72rem) / 2);
    --container-xs: max(var(--gutter), (100% - 48rem) / 2);
    --container-sm: max(var(--gutter), (100% - 63rem) / 2);
    --container-lg: max(var(--gutter), (100% - 81rem) / 2);
    /* animation */
    --transition: 400ms ease;
    --transition-sm: 200ms ease;
    /* misc */
    --shadow: 0 0.25rem 0.5rem var(--black-20);
  }
  
  :focus:not(:focus-visible) {
    outline: 0;
  }
  
  header #site-brand-wrapper {
    padding: 20px 10px;
    background: #222222;
  }
  header #site-brand-wrapper.light {
    background: #ffffff;
  }
  header #site-brand-wrapper.light nav {
    background-color: #5A0722;
  }
  header #site-brand-wrapper.light #site-name {
    color: #000000;
  }
  
  .alumni-theme {
  
    h1, .h1 {
      font-family: "Antenna Condensed Bold", sans-serif;
      font-size: 3.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.9rem; /* 120% */
      letter-spacing: -0.02rem;
      text-transform: capitalize;
    }
    h2, .h2{
      font-family: "Antenna Condensed Bold", sans-serif;
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 700;
      line-height: 3.65625rem; /* 162.5% */
      letter-spacing: -0.02rem;
      text-transform: none;
    }
    h3, .h3{
      font-family: "Antenna Condensed Light", sans-serif;
      font-size: 1.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.1rem; /* 120% */
      letter-spacing: -0.02rem;
      text-transform: none;
    }
    h4, .h4{
      font-family: "Antenna Condensed Bold", sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.1rem; /* 140% */
      letter-spacing: -0.02rem;
    }
    .grid-link {
      line-height: 2.225rem;
       a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
       } 
    }

    button, .button {
      border: .125rem solid var(--white);
      color: #EEEEEE;
      &:hover {
        color: var(--white);
      }
    }

        .calendar-card-content,
        .content-grid-wrapper,
        #panel-events-news {
            h4 {
              a {
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
        }

  }
  
  .alumni-theme p a {
    text-decoration: underline;
  }
  .alumni-theme p a:hover {
    text-decoration: none;
  }
  .alumni-theme .grid-wrapper-min-max.card-horizontal .grid-item .content-grid-wrapper .flex-item button {
    width: auto;
  }
  .alumni-theme nav, .alumni-theme #site-brand-wrapper, .alumni-theme #audience-navigation, .alumni-theme #directory-navigation {
    background-color: #5A0722;
  }
  .alumni-theme ul#audience-nav[role=menubar] li a[role=menuitem], .alumni-theme ul#audience-nav[role=menubar] li button, .alumni-theme ul#directory-nav[role=menubar] li a[role=menuitem], .alumni-theme ul#directory-nav[role=menubar] li button {
    background-color: #5A0722;
    color: #fff !important;
    font-family: "Antenna Condensed Bold";
    font-size: 0.875rem;
  }
  .alumni-theme ul#audience-nav[role=menubar] li a[role=menuitem].yellow-button, .alumni-theme ul#audience-nav[role=menubar] li button.yellow-button, .alumni-theme ul#directory-nav[role=menubar] li a[role=menuitem].yellow-button, .alumni-theme ul#directory-nav[role=menubar] li button.yellow-button {
    background-color: #EAAA00;
    color: #000 !important;
  }
  .alumni-theme ul#audience-nav[role=menubar] li a[role=menuitem]:hover, .alumni-theme ul#audience-nav[role=menubar] li a[role=menuitem]:focus, .alumni-theme ul#audience-nav[role=menubar] li button:hover, .alumni-theme ul#audience-nav[role=menubar] li button:focus, .alumni-theme ul#directory-nav[role=menubar] li a[role=menuitem]:hover, .alumni-theme ul#directory-nav[role=menubar] li a[role=menuitem]:focus, .alumni-theme ul#directory-nav[role=menubar] li button:hover, .alumni-theme ul#directory-nav[role=menubar] li button:focus {
    background-color: #8d0034 !important;
  }
  .alumni-theme ul#audience-nav[role=menubar] li a[role=menuitem]:hover.yellow-button, .alumni-theme ul#audience-nav[role=menubar] li a[role=menuitem]:focus.yellow-button, .alumni-theme ul#audience-nav[role=menubar] li button:hover.yellow-button, .alumni-theme ul#audience-nav[role=menubar] li button:focus.yellow-button, .alumni-theme ul#directory-nav[role=menubar] li a[role=menuitem]:hover.yellow-button, .alumni-theme ul#directory-nav[role=menubar] li a[role=menuitem]:focus.yellow-button, .alumni-theme ul#directory-nav[role=menubar] li button:hover.yellow-button, .alumni-theme ul#directory-nav[role=menubar] li button:focus.yellow-button {
    background-color: #FFCD4A !important;
    color: #000 !important;
  }
  .alumni-theme #site-brand-wrapper {
    background: #ffffff;
  }
  .alumni-theme #site-name {
    color: #000000;
    font-family: "Antenna Condensed Bold";
  }
  .alumni-theme nav#main {
    background-color: #eeeeee;
    box-shadow: none;
  }
  .alumni-theme ul[role=menubar] li a[role=menuitem], .alumni-theme ul[role=menubar] li a,
  .alumni-theme ul[role=menubar] button {
    color: #5A0722 !important;
    font-family: "Antenna Condensed Bold";
    font-size: 1rem;
    background-color: #eeeeee;
  }
  .alumni-theme ul[role=menubar] button:hover, .alumni-theme ul[role=menubar] button:focus {
    background: none !important;
    text-decoration: underline !important;
  }
  .alumni-theme ul[role=menubar] li {
    border: none;
  }
  .alumni-theme #site-nav li a {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem !important;
  }
  .alumni-theme #site-nav li a:hover {
    text-decoration: underline !important;
  }
  .alumni-theme ul#site-nav button, .alumni-theme ul#site-nav button:hover {
    background-image: url("../images/images-alumni/ui-arrow-down.svg") !important;
    background-size: auto !important;
    background-position: calc(100% - 1.25rem) center !important;
    padding: 1.25rem 2.5rem 1.25rem 1.25rem;
  }
  .alumni-theme ul[role=menubar] ul[role=menu] {
    background-color: #5A0722;
    padding: 2rem;
  }
  .alumni-theme ul[role=menubar] ul[role=menu][style] {
    top: 80px !important;
    border-top: 2px solid #EAAA00;
  }
  .alumni-theme ul[role=menubar] ul[role=menu][style]::before {
    content: " ";
    position: absolute;
    top: -13px;
    left: calc(3rem - 2px);
    border-bottom: 13px solid #EAAA00;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
  }
  .alumni-theme ul[role=menubar] ul[role=menu][style]::after {
    content: " ";
    position: absolute;
    top: -11px;
    left: 3rem;
    border-bottom: 11px solid #5A0722;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
  }
  .alumni-theme ul[role=menubar] ul[role=menu] li a {
    background-color: #5A0722;
    color: #fff !important;
    border: none;
  }
  .alumni-theme .content-image-text-image {
    margin-bottom: 2rem;
  }
  .alumni-theme footer {
    background: #eee;
    border-top: 15px solid #EAAA00;
    padding: 0;
    height: auto;
  }
  .alumni-theme footer p {
    display: block !important;
    font-weight: 400;
  }
  .alumni-theme footer .footer-main {
    color: #5A0722;
    padding-block: 5rem;
  }
  .alumni-theme footer .footer-main .footer-brand {
    display: block;
    width: 174px;
  }
  .alumni-theme footer .footer-main .footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 2rem;
  }
  @media (width >= 64em) {
    .alumni-theme footer .footer-main .footer-grid {
      grid-template-columns: repeat(3, auto);
    }
  }
  @media (width >= 80em) {
    .alumni-theme footer .footer-main .footer-grid {
      grid-template-columns: repeat(5, auto);
    }
  }
  .alumni-theme footer .footer-main .footer-social {
    display: flex;
    gap: 2rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .alumni-theme footer .footer-main .footer-social a {
    display: block;
    transition: var(--transition);
  }
  .alumni-theme footer .footer-main .footer-social a:hover {
    transform: scale(1.2);
  }
  .alumni-theme footer .footer-main .footer-social a i {
    font-size: 28px;
  }
  .alumni-theme footer .footer-main p, .alumni-theme footer .footer-main a {
    color: #5A0722 !important;
  }
  .alumni-theme footer .footer-main a {
    font-weight: 400;
    text-decoration: none !important;
  }
  .alumni-theme footer .footer-main a:hover {
    text-decoration: underline !important;
  }
  .alumni-theme footer .copyright {
    background: #000;
    color: #fff;
    padding-block: 1.5rem;
    text-align: center;
  }
  .alumni-theme footer .copyright-links {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  .alumni-theme footer .copyright-links a {
    font-weight: 400;
  }
  
  @media (width < 64em) {
    :root:has(.Header__menu-toggle[aria-expanded=true]) {
      overflow: hidden;
    }
  }
  
  header {
    display: contents;
  }
  
  .Header {
    --link: $white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    height: 4rem;
    padding-inline: 1rem;
    background: #ffffff;
    color: #ffffff;
    z-index: 2;
    transition: var(--transition);
  }
  [data-scroll=down] .Header[data-stuck=true] {
    transform: translateY(-100%);
  }
  [data-scroll=up] .Header[data-stuck=true] {
    transform: translateY(0);
    visibility: visible;
  }
  @media (width >= 64em) {
    .Header {
      display: block;
      height: calc(10.8rem + 1.35rem);
      padding-top: 2.625rem;
    }
  }
  .Header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ffffff;
    box-shadow: var(--shadow);
    z-index: -1;
  }
  @media (width >= 64em) {
    .Header::before {
      background-image: linear-gradient(#5A0722 2.625rem, #ffffff 2.625rem);
    }
  }
  
  .Header__brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
  }
  @media (width >= 64em) {
    .Header__brand {
      padding: 0.5rem 0;
    }
  }
  
  .Header__title {
    color: #231F20;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    font-family: "Antenna Condensed Bold", sans-serif;
  }
  @media (width >= 64em) {
    .Header__title {
      font-size: 32px;
    }
  }
  

  @media (width >= 64em) {
    .Header__logo {
      display: block;
      visibility: visible;
      width: 30rem;
    }
  }
  
  .Header__menu-toggle {
    margin-left: auto;
    padding: 0;
    border: 0;
    background: transparent;
    background-color: transparent;
  }
  @media (width >= 64em) {
    .Header__menu-toggle {
      display: none;
    }
  }
  .Header__menu-toggle::before {
    content: "";
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    background: #5A0722;
    mask-image: url("../images/images-alumni/menu.svg");
  }
  .Header__menu-toggle[aria-expanded=true]::before {
    mask-image: url("../images/images-alumni/close.svg");
  }
  .Header__menu-toggle:hover {
    background-color: transparent;
  }
  
  @media (width < 64em) {
    .Header__menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 4rem;
      right: 0;
      left: 0;
      height: calc(100vh - 4rem);
      height: calc(100dvh - 4rem);
      padding: 1rem;
      transition: transform var(--transition), visibility var(--transition);
      background: #5A0722;
      color: #fff !important;
      overflow: auto;
    }
    [aria-expanded=false] + .Header__menu {
      transform: translateX(-100%);
      visibility: hidden;
    }
  }
  @media (width >= 64em) {
    .Header__menu {
      display: contents;
    }
  }
  .Header__menu a {
    --underline: var(--gold);
    color: #fff !important;
    text-decoration: none;
  }
  @media (width >= 64em) {
    .Header__menu a {
      color: #5A0722 !important;
    }
  }
  
  .Header__nav {
    --height: initial;
    list-style-type: none;
    margin: 0 -0.5rem 4rem;
    padding: 0;
    font-weight: bold;

    & .currentbranch1 {
      color: var(--white);
    }
  }
  @media (width >= 64em) {
    .Header__nav {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin: 0 -1rem;
      padding-inline: 2rem;
      font: var(--meta);
      font-weight: bold;
      white-space: nowrap;
      background: #eee;
      height: 2.625rem;
    }
  }
  .Header__nav li {
    position: relative;
  }
  .Header__nav .Header__sub-menu,
  .Header__nav > li > ul {
    list-style-type: none;
  }
  .Header__nav .Header__sub-menu ul,
  .Header__nav > li > ul ul {
    margin-block: 1rem;
  }
  .Header__nav .Header__sub-menu a,
  .Header__nav > li > ul a {
    color: #fff !important;
    font-size: 0.875rem;
  }
  .Header__nav .Header__sub-menu a:hover,
  .Header__nav > li > ul a:hover {
    text-decoration: underline;
  }
  @media (width >= 64em) {
    .Header__nav .Header__sub-menu,
    .Header__nav > li > ul {
      position: absolute;
      top: calc(100% + 1.875rem);
      right: auto;
      left: 0;
      width: 18.75rem;
      padding: 2rem;
      border-top: 2px solid #febc18;
      transition: transform var(--transition), opacity var(--transition), visibility var(--transition);
      background: #5A0722;
      box-shadow: var(--shadow);
      white-space: normal;
      z-index: -2;
    }
    .Header__nav .Header__sub-menu ul,
    .Header__nav > li > ul ul {
      margin-block: 0;
    }
  }
  .Header__nav li li {
    padding-bottom: 1.5rem;
  }
  .Header__nav li li:last-child {
    padding-bottom: 0 !important;
  }
  .Header__sub-toggle {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    font-family: "Antenna Condensed Bold", "Arial", sans-serif;
    line-height: 1.35;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #5A0722 !important;
    vertical-align: top;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    transition: none;
    font-size: 1rem;
    border: none !important;
    text-transform: uppercase;
  }
  .Header__sub-toggle:hover {
    border-bottom: 1px solid #5A0722;
    border-radius: 0;
    cursor: pointer;
  }
  @media (width < 64em) {
    .Header__sub-toggle {
      padding: 0.5rem;
      font-size: 18px;
      color: var(--white) !important;
    }
    .Header__sub-toggle::after {
      background: #fff !important;
    }
    .Header__sub-toggle[aria-expanded=true] + .Header__sub-menu,
    .Header__sub-toggle[aria-expanded=true] + ul {
      visibility: visible;
      grid-template-rows: 1fr;
    }
  }
  @media (width >= 64em) {
    .Header__sub-toggle[aria-expanded=false] + .Header__sub-menu,
    .Header__sub-toggle[aria-expanded=false] + ul {
      transform: translateY(calc(var(--space-sm) * -1));
      opacity: 0;
      visibility: hidden;
    }
  }
  .Header__sub-toggle::after {
    content: " ";
    display: block;
    width: 11px;
    height: 6px;
    transform: rotate(180deg);
    transition: transform var(--transition);
    background: #5A0722;
    mask-image: url("../images/images-alumni/ui-arrow-down.svg");
    mask-position: center;
    mask-size: 100% auto;
  }
  .Header__sub-toggle[aria-expanded=false]::after {
    transform: rotate(0deg);
  }
  .Header__sub-toggle:hover {
    background-color: transparent !important;
  }
  
  .Header__sub-menu ul,
  .Header__nav > li > ul ul {
    list-style-type: none;
  }
  @media (width < 64em) {
    .Header__sub-menu,
    .Header__nav > li > ul {
      visibility: hidden;
      grid-template-rows: 0fr;
      display: grid;
      overflow: hidden;
      margin-inline: 0.5rem;
      transition: grid-template-rows var(--transition), visibility var(--transition) !important;
    }
  }
  
  .Header__sub-menu-collapse,
  .Header__nav > li > ul {
    display: grid; 
    grid-template-rows: 0fr;
    @media (width < 64em) {
      height: 0;
    }
  }

  .Header__sub-toggle[aria-expanded=true] + .Header__sub-menu-collapse,
  .Header__sub-toggle[aria-expanded=true] + ul{
    grid-template-rows: 1fr;
    visibility: visible;
    @media (width < 64em) {
      height: auto;
      padding-block: 1rem;
    }
  }
  
  .Header__sub-overview{
    padding-left: 0 !important;
    border-left: none !important;
    margin-bottom: 0.5rem;
  }
  .Header__sub-overview a{
    font-size: 1rem !important;
  }
  
  .Header__audience {
    margin: 0;
    padding: 0;
    font: var(--meta);
    list-style-type: none;
    order: 1;
  }
  @media (width >= 64em) {
    .Header__audience {
      display: flex;
      align-items: center;
      gap: 2rem;
      position: absolute;
      top: 0;
      left: 2rem;
      height: 2.625rem;
      order: unset;
    }
  }
  @media (width < 64em) {
    .Header__audience li {
      margin-top: 0.75rem;
    }
  }
  .Header__audience a:hover {
    text-decoration: underline;
  }
  @media (width >= 64em) {
    .Header__audience a {
      --underline: initial;
      color: #ffffff !important;
    }
  }
  
  .Header__search-wrap {
    display: contents;
  }
  
  .Header__search-toggle {
    display: grid;
    place-items: center;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    background-color: transparent;
    margin: 0;
    height: 42px;
    width: 42px;
    border: none !important;
  }
  .Header__search-toggle::before {
    content: "";
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    background: #5A0722;
    mask-image: url("../images/images-alumni/close.svg");
  }
  .Header__search-toggle:hover {
    background: transparent;
  }
  .Header__search-toggle[aria-expanded=false]::before {
    mask-image: url("../images/images-alumni/search.svg");
  }
  @media (width >= 64em) {
    .Header__search-toggle::before {
      background: var(--white);
      width: 1.5rem;
      height: 1.5rem;
    }
    .Header__search-toggle:hover {
      background: #8d0034;
      border-radius: 0;
    }
  }
  
  @media (width >= 64em) {
    .Header__search-toggle--mobile {
      display: none;
      visibility: hidden;
    }
  }
  
  .Header__search {
    --outline: var(--white);
    position: absolute;
    top: 43px;
    right: 0;
    left: 0;
    padding: 36px 36px;
    transition: transform var(--transition), opacity var(--transition), visibility var(--transition);
    background: #5A0722;
    box-shadow: var(--shadow);
    z-index: 0;
  }
  @media (width < 64em) {
    .Header__search {
      top: 64px;
    }
  }
  [aria-expanded=false] + .Header__search {
    opacity: 0;
    visibility: hidden;
  }
  
  .Header__wrap {
    position: relative;
  }
  
  .Header__label {
    display: block;
    font: var(--meta);
    font-weight: bold;
  }
  @media (width >= 64em) {
    .Header__label {
      color: var(--gold);
      font: var(--h5);
      text-align: center;
    }
  }
  
  .Header__input {
    display: block;
    width: 100%;
    height: 3rem;
    padding: 0 3rem 0 1.5rem;
    border: 0;
    background: #ffffff;
    color: var(--black);
  }
  @media (width >= 64em) {
    .Header__input {
      height: 2.375rem;
      padding-inline: 0.75rem 4rem;
    }
  }
  
  .Header__submit {
    display: grid;
    place-items: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
  }
  @media (width >= 64em) {
    .Header__submit {
      height: 2.375rem;
    }
  }
  .Header__submit::before {
    content: "";
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--black);
    mask-image: url("../images/images-alumni/search.svg");
  }
  @media (width >= 64em) {
    .Header__submit::before {
      width: 2rem;
      height: 2rem;
    }
  }
  
  .Header__actions {
    display: none;
    visibility: hidden;
  }
  @media (width >= 64em) {
    .Header__actions {
      visibility: visible;
      position: absolute;
      top: 0;
      right: 0;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 2.625rem;
      margin: 0;
      padding: 0 0 0 var(--gutter);
      background: var(--gold);
      font-weight: bold;
    }
  }
  .Header__actions a {
    display: flex;
    align-items: center;
    height: 2.625rem;
    padding: 0.75rem 1rem;
    color: #ffffff !important;
  }
  .Header__actions a:hover {
    text-decoration: underline;
    background: #8d0034;
  }
  .Header__actions a.secondary {
    color: #000000 !important;
    background: #febc18;
  }
  .Header__actions a.secondary:hover {
    text-decoration: underline;
    background: #FFCD4A;
  }
  
  .Header__actions-mobile {
    list-style-type: none;
    margin-bottom: 4rem;
  }
  .Header__actions-mobile a {
    display: block;
    background: #fff;
    color: #5A0722 !important;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
  }

  .Header__actions-mobile a.gift {
    background: #febc18;
    color: #5A0722 !important;
  }

  @media (width >= 64em) {
    .Header__actions-mobile {
      display: none;
      visibility: hidden;
    }
  }
  @media (width >= 80em) {
    .max-65 {
      max-width: 65%;
    }
  }
  
  
  #panel-image.hero.full-overlay{
    max-height: calc(100vh - 182px);
  }
  
  #panel-image.full-overlay img {
    max-height: 100% !important;
  }

  #panel-image.panel-uao-hero-video.hero-image-lead.full-overlay .hero-image-content .headline-buttons {
    @media (width >= 64em) {
      width: 65%;
    }
  }

  .video-control {
    border: none !important;
  }


  .alumni-theme {

    #interiorpagenav {
      margin: 0;
    }
    .intro-grid-area-aside-navigation:has(#t4-navigation) {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      @media (width >= 64em) {
        padding-top: 3rem;
      }
  }
    #t4-navigation {
      border-radius: 0 !important;
    }

    #t4-navigation nav.t4-navigation-wrapper {
      background-color: #5A0722 !important;
      color: inherit !important;
      border-bottom: 0;
      border-radius: 0;
      border-bottom-left-radius: 0;
      @media (width >= 64em) {
        background-color: #FFF !important;
      }
    } 
    #t4-navigation .t4-navigation-wrapper ul li:after {
      border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    }
      @media (width >= 64em) {
        #t4-navigation .t4-navigation-wrapper ul li:after {
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
      }
    }

    #t4-navigation .t4-navigation-wrapper ul li.last:after,
    #t4-navigation .t4-navigation-wrapper ul li.list-button:after {
      border-bottom: 0;
    }

    #t4-navigation .t4-navigation-wrapper ul li {
      grid-template-columns: 100%;
    }
    #t4-navigation .t4-navigation-wrapper ul li button {
      display: block;
      margin: 0.75rem 0;
      padding: 0.625rem 1rem 0.5rem;
      width: auto;
      height: auto;
      font-family: "Antenna Condensed Bold", "Arial", sans-serif;
      font-size: 18px;
      line-height: 1.35;
      color: #FFF;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none !important;
      border: none;
      border-radius: 4px;
      background: #5d0024;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border: .125rem solid var(--white);
      &:hover {
        background-color: #8d0034;
      }
  }

      #t4-navigation .t4-navigation-wrapper ul li a, #t4-navigation .t4-navigation-wrapper ul li span {
        display: block;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        font-weight: 600;
        line-height: inherit;
        color: inherit;
        text-indent: 0 !important;
        text-transform: inherit;
        text-decoration: none;
        padding: 0;
        @media (width >= 64em) {
          padding: 0;
        }
    }

    #t4-navigation .t4-navigation-wrapper ul {
      padding-inline: 2rem;
      padding-bottom: 1rem;
      @media (width >= 64em) {
        padding: 0;
      }
  }

      .Subnav__toggle {
        padding-inline: 2rem;
        padding-block: 1rem;
      }
  
      #t4-navigation .t4-navigation-wrapper ul li:hover {
        background: transparent;
    }

    #t4-navigation ul.t4-navigation-list{
      background: transparent !important;
    }
  }

  .t4-navigation-wrapper {
    @media (width >= 64em) {
      padding-top: 4rem;
    }
  }
  
  .Subnav--full {
    --text: var(--white);
    background: var(--red);
    color: var(--white);
    padding: 1rem 5%;
    display: block;
    position: relative;
    border-top: 10px solid var(--yellow);

    @media (width >= 64em) {
      --heading: var(--white);
      --link: var(--white);
      padding: 2rem 10% 4.25rem;
    }
  }
  
 .t4-navigation-wrapper {
    padding-inline: 2rem;
    padding-block: 1rem;
    @media (width >= 64em) {
      padding-inline: 0;
      background-color: var(--white) !important;
    }
  
    .Subnav__heading {
      @media (width >= 64em) {
          display: inline;
          margin-top: 0;
          font-size: 1.25rem;
          font-style: normal;
          font-weight: 700;
          line-height: 3.875rem; /* 150% */
          letter-spacing: 0.03125rem;
          text-transform: none;
          border-bottom: 5px solid var(--yellow);
          padding-bottom: .25rem;
          margin-bottom: 4rem;
      }
  }
  
  .Subnav__list {
    list-style-position: unset !important;
    margin-top: 1rem !important;
    li {
      text-indent: 0 !important;
      padding-block: 1.5rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.24);
      margin-bottom: 0 !important;
      @media (width <= 64em) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    }
    &.last,
    &:last-of-type{
      border-bottom: none;
    }
    &.list-button {
      border-bottom: none;
      padding: .025rem 0;
      button{
        color: #eeeeee;
        &:after {
          background: url(../images/ui-arrow-carrousel-next@2x.png) center no-repeat;
          background-size: contain;
        }
        &:hover {
          color: var(--white);
        }
      }
    }
    
    }
    a {
      font-size: 1rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.5rem;
      color: var(--black) !important;
      &:hover {
        color: var(--red) !important;;
      }
      @media (width <= 64em) {
        color: var(--white) !important;
        &:hover {
          color: var(--yellow) !important;
        }
      }
    }
  }
  
  }
  
  
  .Subnav__heading {
    display: none;
  
    @media (width >= 64em) {
      display: inline;
      margin-top: 0;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 700;
      line-height: 4.5rem;
      text-transform: none;
      border-bottom: 5px solid var(--yellow);
      padding-bottom: .25rem;
    }
  }
  
  .Subnav__toggle {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.875rem; /* 150% */
    letter-spacing: 0.03125rem;
    font-weight: 600;
    text-transform: none;
    padding: 0;
    border: 0;
    background: transparent;
    text-align: left;
    color: white;
    border: none !important;
    @media (width >= 64em) {
      display: none;
      padding: 1rem 0;
    }
  
    &::after {
      content: "";
      flex-shrink: 0;
      width: 2rem;
      height: 2rem;
      background: var(--white);
    }
  
    &::after {
      position: relative;
      right: 1.2rem;
      margin-left: auto;
      width: 8px;
      height: 13px;
      transform: rotate(-90deg);
      transition: transform var(--transition);
      mask-image: url("../images/chevron-right.svg");
  
      .Subnav--hero &,
      .Subnav--full & {
        background: var(--white);
      }
  
      @media (width > 64em) {
        right: 0;
      }
    }
  
    &:hover {
      background-color: transparent;
      &::after {
        transform: rotate(-90deg) translateX(0.25rem);
      }
    }
  
    &[aria-expanded="false"] {
      &::after {
        transform: rotate(90deg);
      }
      &:hover {
        &::after {
          transform: rotate(90deg) translate(0.25rem);
        }
      }
    }
  }
  
  .Subnav__list {
    margin: 0 !important;
    padding: 0;
    font-weight: 600;
  
    @media (width < 64em) {
      --link: var(--white);
  
      height: var(--height, auto);
      transition: height var(--transition), visibility var(--transition);
      overflow: hidden;
  
      [aria-expanded="false"] + & {
        height: var(--height, 0);
        visibility: hidden;
        padding: 0 !important;
      }
    }
  
    & > li {
      position: relative;
  
      @media (width < 64em) {
        padding-block: 0.5rem;
  
        &:last-child {
          margin-bottom: 2rem;
        }
      }
  
    }
  
    & ul {
      --height: initial;
  
      height: var(--height, auto);
      transition: height var(--transition), visibility var(--transition);
      overflow: hidden;
    }
  
    & [aria-expanded="false"] + ul {
      height: var(--height, 0);
      visibility: hidden;
    }
  
    & ul li {
  
        margin-top: 0.5rem;
  
    }
  
  
    .Subnav--full & {
  
      & > li {
        padding-top: 1rem;
        border-bottom: 1px solid var(--white-20);
        text-indent: 0 !important;
        margin: 0 !important;
        list-style: none;
  
        @media (width <= 64em) {
        &:last-of-type {
          border-bottom: none;
        }
      }
  
        a {
          position: relative;
          display: flex;
          align-items: center;
          gap: 0.75rem;
          text-decoration: none;
          padding-block: 1rem;
          color: #eeeeee;
          font-weight: 600;
          &:hover{
            color: var(--white);
          }
        }
      }
  
      @media (width >= 64em) {
        display: grid;
        gap: 1rem 4rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  
        a {
          font-weight: 700 !important;
          &:hover{
            color: var(--yellow);
          }
        }
  
      }
    }
  }
  
  section#panel-subnav {
    .container{
      width: 100%;
    }
  }
  
  .alumni-theme {
    .hero-image-content{
      .Breadcrumbs {
        color: white;
        a{
          color: white;
        }
      }
    }
    .Breadcrumbs {
          padding-block: 24px 16px;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 700;
      line-height: 0.7125rem; /* 95% */
      text-transform: uppercase;
          color: var(--red);
      background: transparent;
      a {
        color: var(--black);
        text-decoration: underline;
        &:hover {
            text-decoration: none;      
        }
        &:last-child {
          color: var(--red);
        }
      }
      }
      .Breadcrumbs__separator {
          margin: 0 0.2em;
      }
    #panel-image-grid.image-grid-highlights .grid-wrapper-min-max .grid-item {
      display: block;
    }
    @media (width <= 64em) {
      #panel-image-grid.image-grid-highlights .grid-wrapper-min-max {
        grid-template-columns: 1fr;
      }
    }
    
    .grid-item .content-image-overlay h3.teaser{
      overflow: auto;
    }
  
    .js-accordion__header{
      font-family: "Antenna Condensed Light", sans-serif;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 700;
    }
    .meta {
      font-family: "Open Sans";
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.8125rem;
      margin-bottom: 0.5rem;
    }
  
    .image-wrapper a {
      img {
        cursor: pointer !important;
      }
    }
    .grid-wrapper-min-max.card-horizontal {
  
      .grid-item img {
        display: block;
      }
      .content-grid-wrapper{
        @media (width >= 64em) {
          padding: 1.5rem 3rem !important;
        }
      }
    }
    .grid-wrapper-min-max .content-grid-wrapper{
      margin: auto;
    }
  
    #panel-image.hero-image-lead.full-overlay .hero-image-content.centered {
      align-items: center;
      text-align: center;
      @media (width >= 64em) {
      justify-content: end;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 26.09%, rgba(0, 0, 0, 0.22) 32.32%, rgba(0, 0, 0, 0.70));
      padding-bottom: 15% !important;
      }
    }
  
  
  .ImageSlider {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    padding-inline: 1rem;
    padding-block: 3.75rem;
    text-align: center;
    overflow: hidden;
  
    .block-header {
      text-align: left;
    }
  
    @media (width >= 64em) {
      text-align: left;
      padding-block: 4.25rem;
      gap: 0;
  
    }
  
  }
  .ImageSlider__cta {
    width: 100%;
  
    .block-header & {
      display: none;
      visibility: hidden;
  
      @media (width >= 64em) {
        display: flex;
        visibility: visible;
        flex: 1;
      }
    }
  
    .ImageSlider__slider & {
      @media (width >= 64em) {
        display: none;
        visibility: hidden;
      }
    }
  }
  .ImageSlider__details,
  .ImageSlider__cta {
    .Button {
      margin-top: 2rem;
    }
  }
  .ImageSlider__slide {
    width: 100%;
    margin-right: 1rem;
  
    &:not(.is-selected) {
      cursor: pointer;
    }
  
    @media (width >= 64em) {
      width: 70%;
      margin-right: 0;
    }
  }
  .ImageSlider__card {
    overflow: hidden;
    width: 100%;
    text-align: left;
    transition: transform var(--transition);
  }
  .ImageSlider__card-image {
    position: relative;
    z-index: 1;
    &::before {
      content: " ";
      position: absolute;
      inset: 0;
      background: rgba(0,0,0,0.5);
      transition: background var(--transition);
    }
    
    img {
      aspect-ratio: 16/9;
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: block;
    }
  }
  .is-selected .ImageSlider__card-image::before {
    background: rgba(0,0,0,0);
  }
  .ImageSlider__card-details {
    position: absolute;
    padding: 2rem 2rem;
    margin: 0;
    bottom: 0;
    left: 0;
    color: var(--white);
    background: rgba(0, 0, 0, 0.70);
    z-index: 9;
    p {
      font-weight: 300;
      letter-spacing: 1px;
      color: white;
    }
  
  }
  .ImageSlider__slider {
    position: relative;
    width: 100%;
    flex: 1;
  
    .slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 100%;
      padding-bottom: 2rem;
      gap: 2rem;
    }
    .flickity-viewport {
      width: 100%;
    }
    .flickity-cell {
      margin-right: 1rem;
    }
  
  
  
  
    @media (width >= 64em) {
      padding-bottom: 0;
    
  }
  .ImageSlider__background {
    position: absolute;
    inset: 0;
    z-index: -3;
  
    img {
      position: relative;
      object-fit: cover;
      height: 100%;
      width: 100%;
      transform: scaleX(-1);
      z-index: -5;
    }
  
    &::before {
      content: " ";
      position: absolute;
      inset: 0;
      background: linear-gradient(171.5deg, rgba(0, 0, 0, 0.7) 20.14%, rgba(0, 0, 0, 0) 75.17%),
      linear-gradient(3.83deg, rgba(21, 20, 18, 0.8) 3.15%, rgba(0, 0, 0, 0) 28.05%);
    }
  
    @media (width >= 64em) {
      &::before {
        background: linear-gradient(100.21deg, rgba(0, 0, 0, 0.4) 7.95%, rgba(0, 0, 0, 0) 43.85%),
        linear-gradient(3.83deg, rgba(21, 20, 18, 0.8) 19.47%, rgba(0, 0, 0, 0) 96.75%);
      }
    }
  }
  }
  
  .masonry.grid-wrapper{
    display: grid;
      grid-gap: 5px;
  
    @media (width >= 64em) {
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: 15vw;
      grid-gap: 0.5rem;
      grid-auto-flow: dense;
  
    }
      & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: #000;
    }
    & > div > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    @media (width >= 64em) {
    .wide {
      grid-column: span 4;
    }
    .tall {
      grid-row: span 2;
      grid-column: span 2;
  
    }
    .big {
      grid-column: span 2;
      grid-row: span 2;
    }
    .small{
      grid-column: span 2;
      grid-row: span 1;
    }
  }
    .overlay {
      &:before{
        content: " ";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 45.83%, rgba(0, 0, 0, 0.70) 83.33%);
  
  
        @media (width >= 64em) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 62.83%, rgba(0, 0, 0, 0.50) 78.33%);
        }
      }
    }
  }
  
  .Masonry__card-details{
    position: absolute;
    padding: 2rem 2rem;
    margin: 0;
    bottom: 0;
    left: 0;
    color: var(--white);
    z-index: 9;
    p {
      font-weight: 300;
      letter-spacing: 1px;
      color: white;
    }
  }
  
  .image-link {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.125rem; /* 154.545% */
    color: var(--white);
    &:hover {
      text-decoration: none;
    }
    &.arrow{
      &::after {
        content: "";
        display: inline-grid;
        place-items: center;
        align-items: end;
        padding: 0;
        border: 0;
        margin: 0 0 0 2rem;
        width: 15px;
        height: 15px;
        transition: all var(--transition);
        color: white;
        background: url(../images/ui-arrow-carrousel-next@2x.png) center no-repeat;
        background-size: contain;
      }
    }
  }
  
  .Feed {
    position: relative;
    padding: 4rem 0 0 0;
    background: var(--red);
    overflow: hidden;;
    --heading: var(--white);
    --text: var(--white);
    display: grid;
    align-items: center;
  
              width: 100%;
              gap: 2rem;
  }
  
  
  .Feed__main {
    position: relative;
  
    @media (width < 64em) {
      margin-top: 2rem;
    }
    @media (width >= 64em) {
      padding-inline: 4rem;
      width: calc(80% + 8rem);
      margin: 0 auto;
    }
  }
  
  .Feed__carousel {
    position: static;
    margin-bottom: 4rem;
  
    .flickity-viewport {
      position: relative;
      overflow: hidden;
      z-index: 1;
      margin-bottom: 2rem;
    }
  
    .flickity-button {
      @media (width >= 64em) {
          top: calc(50% - 5rem);
      }
  }
  
    .flickity-page-dots {
      & .flickity-page-dot {
        background: transparent;
        border: 2px solid var(--white);
        &.is-selected {
          opacity: 1;
          background: var(--white);
          color: var(--black);
        }
      }        
    }
    @media (width <= 64em) {
      .flickity-prev-next-button {
          background: url(../images/ui-arrow-carrousel-next@2x.png) center no-repeat;
          background-size: 32px;
          bottom: 2rem;
      }
  }
  }
  
  
  .Feed__item {
    z-index: 1;
    width: 100%;
    margin-right: 1.25rem;
    height: auto;
    @media (width >= 64em) {
      max-width: 24%;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
  
  .Feed__overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
    padding: 1.5rem;
    transition: opacity var(--transition), visibility var(--transition);
    background: rgba(0 0 0 / 0.75);
    color: var(--white);
    opacity: 0;
  
    .Feed__item:hover &,
    &:has(.Feed__group:focus-visible) {
      opacity: 1;
    }
  }
  
  .Feed__top {
    margin-bottom: 1.5rem;
  }
  
  .Feed__group {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
  
    &:last-child {
      margin-right: 0;
      margin-left: auto;
    }
  }
  
  .Feed__icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    background: var(--white);
  }
  
  .Feed__icon--instagram {
    width: 21px;
    height: 20px;
    mask: url("../images/instagram.svg");
  }
  
  .Feed__icon--link {
    mask: url("../images/link.svg");
  }
  
  .Feed__text {
    margin: auto 0;
    p {
    color: var(--white);
    }
  }
  
  .Feed__bottom {
    display: flex;
    margin-top: 1.5rem;
  }
  
  .TestimonialSlider {
    background: var(--red);
    color: var(--white);
    padding: 2rem 0 2rem 0;
    @media (width <= 64em) {
      padding-inline: 1rem;
    }
    .flickity-page-dots {
      & .flickity-page-dot {
        background: transparent;
        border: 2px solid var(--white);
        &.is-selected {
          opacity: 1;
          background: var(--white);
          color: var(--black);
        }
      }        
    }
    @media (width <= 64em) {
      .flickity-prev-next-button {
          background: url(../images/ui-arrow-carrousel-next@2x.png) center no-repeat;
          background-size: 32px;
          bottom: 0;
      }
  }
  
  
  }
  .TestimonialSlider__heading {
    margin-block: 0 1.5rem;
  }
  .TestimonialSlider__cta {
    width: 100%;
  
    .block-header & {
      display: none;
      visibility: hidden;
  
      @media (width >= 64em) {
        display: flex;
        visibility: visible;
        flex: 1;
      }
    }
  
    .TestimonialSlider__slider & {
      @media (width >= 64em) {
        display: none;
        visibility: hidden;
      }
    }
  }
  
  .TestimonialSlider__item {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    
    @media (width >= 64em) {
      flex-direction: row;
      align-items: center;
  
    }
  }
  .TestimonialSlider__image {
    position: relative;
    flex: 1;
    @media (width >= 64em) {
      max-width: 50%;
    }
    img {
      object-fit: cover;
    }
  
  }
  .TestimonialSlider__details {
    color: var(--white);
    min-height: 200px;
    padding-top: 1.5rem;
    flex: 1;
  
    .BlockQuote__text {
      margin: 0;
      text-align: left;
      font-size: 1.325rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.75rem;
      width: 100%;
      letter-spacing: 0;
      border-top: 0;
      border-bottom: 0;
      padding: 2rem 0;
  
      @media (width >= 64em) {
        padding: 2rem 4rem 2rem 0;
      }
  
      &:before{
        content: "“";
        font-family: "Antenna Condensed Bold", sans-serif;
        font-size: 5.18181rem;
        font-style: normal;
        font-weight: 700;
        line-height: 0; 
        position: absolute;
        color: var(--yellow);
  
      }
    }
  
    .BlockQuote__meta {
      border-top: 2px solid var(--yellow);
      padding: 1rem 2rem 0 0;
      display: inline-block;
      margin-bottom: 2rem;
  
      cite {
        display: block;
        margin-bottom: 1rem;
      }
    }
  
    @media (width >= 64em) {
      min-height: 160px;
      padding-block: 0;
      padding-inline: 1.5rem;
    }
  }
  .TestimonialCard__title {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--yellow);
  }
  .TestimonialSlider__slider {
    position: relative;
    width: 100%;
    flex: 1;
    overflow: v;
    .slider {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      padding-bottom: 2rem;
      overflow: visible;
      gap: 2rem;
  
      @media (width >= 64em) {
        padding-bottom: 1rem;
          padding-inline: 4rem;
          width: calc(80% + 8rem);
          margin: 0 auto;
      }
    }
    .flickity-viewport{
      overflow: hidden;
      width: 100%;
    }
    .flickity-cell {
      margin-right: 2rem;
      @media (--lg) {
        padding-inline: 4rem;
  
      }
    }
  
  }
  
  .grid-wrapper-min-max.one-column {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;;
  }
  
  .grid-wrapper-min-max.two-column {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
  }
  
  .grid-wrapper-min-max.three-column {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
  }
  
   #main-content-wrapper.full{
    @media (width <= 64em) {
      padding: 0 !important;
    }
  }
  
  button.icon {
    position: relative !important;
    text-align: left !important;
    padding-left: 50px !important;
    
    &:before {
      content: "";
      position: absolute;
      left: 10px;
      right: auto;
      top: 9px;
      flex-shrink: 0;
      width: 25px;
      height: 25px;
      mask-repeat: no-repeat;
      background-color: var(--yellow);
    }
  }
  
  .icon-target {
    &:before {
      mask-image: url("../images/icon-target.svg");
    }
  }
  .icon-question {
    &:before {
    mask-image: url("../images/icon-question.svg");
    }
  }
  .icon-nav {
    &:before {
    mask-image: url("../images/icon-nav.svg");
    }
  }
  
  button.arrow {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: 12px;
      top: 12px;
      flex-shrink: 0;
      width: 20px;
      height: 20px;
      mask-repeat: no-repeat;
    }
  }
  
  button.arrow {
    &:after {
      background-image: url("../images/ui-arrow-carrousel-next-yellow@2x.png");
      background-size: contain;
    }
  }
  
  #main-section-wrapper p a {
    background-image: none;
    &:hover {
      color: #8d0034;
    }
  }
  .footer-cta{
    .grid-wrapper-min-max.three-column{
      @media (width >= 64em) {
        gap: 120px;
        padding: 0 calc(var(--container)*1.5);
        flex-wrap: nowrap;
        display: flex;
      }
    }
    h6{
      text-transform: capitalize;
    }
  }
  .minimalist-accordion__header:after{
    transition: transform 0.3s;
    margin: 0.4rem -1.25rem 0 0;
    transform: rotate(90deg);
    transform-origin: 50% 50%;
  
  }
  .minimalist-accordion__header:hover::after {
    background-image: url(../images/ui-arrow-carrousel-next-red@2x.png);
  }
  [aria-expanded=true].minimalist-accordion__header::after,
  [aria-expanded=true].minimalist-noanim-accordion__header::after,
  [aria-expanded=true].minimalist-css-accordion__header::after {
    transform: rotate(269deg);
    transition: transform 0.3s;
    background-image: url(../images/ui-arrow-carrousel-next-red@2x.png);
  
  }
  
  }
  
  .content-activate-symbol.hover-state {
    outline: 3px solid #febc18;
    outline-offset: -3px;
  }
  
  #panel-image-grid.image-grid-highlights .grid-wrapper-min-max .grid-item .content-image-overlay:not(.active) {
    width: 2rem;
    margin: 0 auto;
  }
  .grid-item .content-image-overlay h3.teaser {
    padding: 1rem 0;
  }
  
  button.slick-arrow:focus-visible {
    outline: var(--yellow) dashed .25rem;
    outline-offset: .25rem;
    outline-width: .25rem !important;
  }
  
  .invis,
  .screen-reader-text {
    &:not(:active, :focus, :focus-within) {
      position: absolute;
      width: 1px;
      height: 1px;
      clip-path: inset(50%);
      overflow: hidden;
      white-space: nowrap;
    }
  }
  
  figure {
    margin: 0;
  }
  .button-white {
    background-color: #FFFFFF !important;
    color: var(--red) !important;
    &:hover {
      background-color: #EEE !important;
      color: var(--black) !important;
    }
    &.container-50 {
      width: 50% !important;
    }
    
  }
  
  :hover {
    cursor: auto;
  }
  
  .grid-wrapper-min-max.card-horizontal .grid-item .image-wrapper {
    min-height: 300px;
  }

  #panel-image.panel-uao-hero-image.hero-image-lead.full-overlay .hero-image-content .headline-buttons {
    @media (width <= 64em) {
      width: 75%;
    }
  }