.flickity-enabled:focus-visible {
    outline: none !important;
  }
  .flickity-viewport {
    position: relative;
    &:focus-visible {
      outline: none !important;
    }
  }
  
  .flickity-slider {
    display: flex;
    flex-wrap: nowrap;
  
    & > * {
      flex-shrink: 0;
      position: absolute;
      top: 0;
    }
  }
  
  .flickity-fade {
    & .flickity-slider {
      transition: all 0.3s ease-in-out;
      transform: none !important;
  
      & > * {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transform: none !important;
  
        &.is-selected {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  
  .flickity-prev-next-button {
    display: inline-grid;
    place-items: center;
    padding: 0;
    border: 0;
    width: 52px;
    height: 52px;
    border-radius: 6px;
    transition: all var(--transition);
    color: white;
    background: url('../images/ui-arrow-carrousel-next@2x.png') center no-repeat;
    background-size: 32px;
    cursor: pointer;
    left: 5rem;
    bottom: 0;
    position: absolute;
    & svg {
      display: none;
    }
  
    &.previous {
      transform: rotate(180deg);
      left: 0;
    }
  
  
    &[disabled] {
      cursor: auto;
      opacity: 0.7;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  
  .flickity-status {
    position: absolute;
    left: 9.5rem;
    bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 8px;
    margin: 0 auto;
    width: fit-content;
  }
  
  
  .flickity-page-dots {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
    & .flickity-page-dot {
      width: 15px;
      height: 15px;
      display: inline-block;
      text-indent: -999rem;
      overflow: hidden;
      cursor: pointer;
      background: var(--white);
      border: 1px solid var(--black);
      color: var(--black);
      margin: 0;
      padding: 0;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      transition: all var(--transition);
      &.is-selected {
        opacity: 1;
        background: var(--black);
        color: var(--black);
      }
    }        
  }

  .flickity-button {
    color: var(--white);
    left: unset;
    right: 0;
    margin-right: auto;
    @media (width >= 64em) {
      top: calc(50% - 3rem);
      left: calc(100% - 3rem);
    }
    @media (width <= 64em) {
      &.next {
        margin-left: 3rem;
      }
    }
    
    &.previous {
      right: 0;
      @media (width >= 64em) {
        right: 100%;
        left: 0;
      }
    }

    &:hover {
      background: url('../images/ui-arrow-carrousel-next-dark@2x.png') center no-repeat;
      background-color: var(--yellow);
      background-size: 32px;
    }
  }

  

  @media (width <= 64em) {
    .flickity-prev-next-button {
      background: url('../images/ui-arrow-carrousel-next-dark@2x.png') center no-repeat;
      background-size: 32px;
    }
  }
  
  .flickity-fade {
    & .flickity-slider {
      transition: all 0.3s ease-in-out;
      transform: none !important;
  
      & > * {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transform: none !important;
        transition: all 0.3s ease-in-out;
  
        &.is-selected {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
  