<div id="main-content">
	<div class="container-fluid">
		<div class="container container-80">
      		<div class="grid-wrapper-min-max">
        		<div class="grid-item">
					<p class="label-contet">Loyola University Chicago</p>
					<h1>Pattern Library</h1>
					<p>Version 5.0 - 2026</p>
					<hr class="padding-divider"></hr>
				</div>
			</div>
			<div class="grid-wrapper-min-max">
        		<div class="grid-item">
					<h2>2026 Design Updates</h2>
					<ul>
						<li><a href="luc-header-footer-homepage.html">Homepage Header/Footer</a></li>
						<li><a href="luc-header-footer-interior.html">Interior Header/Footer</a></li>
						<li><a href="luc-2026-homepage.html">Homepage</a></li>
						<li><a href="luc-2026-secondary.html">Secondary</a></li>
					</ul>
					<span class="divider-bullets">•••</span>
					<h2>2026 Content Types</h2>
					<h3>Carnegie</h3>
					<ul>
						<li><a href="../partials/nav-footer/luc-hero.html">2026 Lead Hero Video</a></li>
						<li><a href="../partials/nav-footer/luc-hero.html">2026 Lead Hero Image</a></li>
						<li><a href="../partials/nav-footer/routing-panel.html">2026 Lead Panel Two Column Left or Right</a></li>
					</ul>
					<span class="divider-bullets">•••</span>
					<h2>Universal Content Types</h2>
					<h3>UMC</h3>
					<ul>
						<li><a href="development-panel-tabs-ensemble.html">Universal Acorion Item</a></li>
						<li><a href="development-panel-tabs-ensemble.html">Universal Media Card</a></li>
						<li><a href="development-panel-image-group.html">Universal Image Group</a></li>
					</ul>
					<span class="divider-bullets">•••</span>
					<h2>Universal Components Alignment</h2>
					<ul>
						<li><a href="carnegie-components.html">Universal - CTA - Button</a></li>
					</ul>	
					<span class="divider-bullets">•••</span>
					<h5>Brand - Visual Identity Elements</h5>
					<ul>
						<li><a href="luc-standards.html">Color Palette</a></li>
					</ul>
					<span class="divider-bullets">•••</span>
					<h2>2026 Accesibility</h2>
					<ul>
						<li><a href="luc-2026-accordion.html">Accordion Update</a></li>
					</ul>
					<span class="divider-bullets">•••</span>
					<h2>Page Layouts</h2>
					<ul>
						<li><a href="luc-faculty-profile.html">Faculty Profile</a></li>
					</ul>
					<span class="divider-bullets">•••</span>
					<!--
						<li><h5>Documentation: Using the Template</h5></li>
						<li><a href="luc-documentation.html">Docmentation - Using the Template</a></li>
						<li class="divider-bullets">•••</li>
						<li><h5>The Template</h5></li>
						<li><a href="cards-template.html">Cards</a></li>
						<li><a href="luc-panels-general.html">Panels - General</a></li>
						<li><a href="luc-panels-image-combinations.html">Panels - Image Combinations</a></li>
						<li><a href="luc-panels-interactive.html">Panels - Interactive</a></li>
						<li><a href="luc-image-resize.html">Images and Responsive Resize</a></li>
						<li><a href="luc-forms.html">Forms</a></li>
						<li><a href="luc-charts.html">Charts</a></li>
						<li><a href="luc-charts-magazine.html">Magazine Charts</a></li>
						<li><a href="luc-t4-variables.html">T4 Variables</a></li>
					-->
				</div>
			</div>
		</div>
	</div>
</div>