/* carnegie-ctas */

button.container-100 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    width: auto !important;
    font-family: $luc-font-family-condensed-bold;
    font-size: $luc-nav-font-size-2xl;
    font-weight: 700;
    letter-spacing: 0.005rem;
    line-height: 1.1;
    text-decoration: none;
    text-transform: none;
    border: none;
    border-radius: 0.25rem 0.25rem 0 0 !important;
    border-bottom: 1px solid $maroon;
    background-color: none;
    color: $maroon;
    cursor: pointer;
    transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
    &:hover {
        color: $white;
        transition: background-color 0.6s ease, height 0.6s ease;
        &::before {
            height: 100%;
        }
        &::after {
            background-color: green;
        }
    }
    &:before {
        height: 1px;
    }
}
button::after {
    content: "";
    display: block;
    width: 1.125rem;
    height: 0.5rem;
    mask-image: url(../images/icon-arrow-right.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: currentColor;
    transition: background-color 0.2s ease;
}